
<div class="category__showmore">
    <div class="category__showmore-button">
        <button>Загрузить еще </button>
    </div>
    <div class="pagination"> 
        <a class="arrow arrow-left" href="#"> </a>
        <a class="pagination__num current" href="#">1 </a>
        <a class="pagination__num" href="#">2</a>
        <a class="pagination__num" href="#">3</a>
        <div class="pagination__skip">...</div>
        <a class="pagination__num" href="#">12</a>
        <a class="arrow arrow-right" href="#"> </a>
    </div>
</div>