{% load static %}
<div class="catalog__list-item"> 
    <a class="popular__item" href="{{ category.get_absolute_url }}">
        <div class="popular__item-title">{{ category.name }}</div>
        <div class="popular__item-image"> 
            {% if category.image %}
                <img class="popular__item-image" src="{{ category.image.url }}" alt="{{ category.name }}">
            {% else %}
                <img class="popular__item-image" src="{% static 'img/images/default_image.webp' %}" alt="Default product image">
            {% endif %}
        </div>
    </a>
    {% comment %} {% with children=category.children.all %} {% endcomment %}
        {% comment %} {% if category.prefetched_children %}
            <ul class="catalog__cats">
                {# On affiche les 5 premiers enfants de notre liste pré-chargée #}
                {% for child in category.prefetched_children|slice:":1" %}
                    <li><a href="{{ child.get_absolute_url }}">{{ child.name }}</a></li>
                {% endfor %}
            </ul>

            {# On affiche le lien "Voir plus" si notre liste pré-chargée contient plus de 5 éléments #}
            {% if category.prefetched_children|length > 1 %}
                <a class="catalog__link js-show-more"
                    href="#"
                    data-category-id="{{ category.id }}">Смотреть еще</a>
            {% endif %}
        {% endif %} {% endcomment %}
    {% comment %} {% endwith %} {% endcomment %}

        {% with children=category.prefetched_children %}
            {% if children %}
                <ul class="catalog__cats">
                    {% for child in children|slice:":1" %}
                        <li><a href="{{ child.get_absolute_url }}">{{ child.name }}</a></li>
                    {% endfor %}
                </ul>

                {% if children|length > 1 %}
                    {# --- PARTIE MODIFIÉE --- #}
                    <a class="catalog__link js-show-more"
                    href="#"
                    data-category-id="{{ category.id }}"
                    data-next-page="2">  {# On commence à la page 2 #}
                    Смотреть еще
                    </a>
                    {# --- FIN DE LA PARTIE MODIFIÉE --- #}
                {% endif %}
            {% endif %}
        {% endwith %}
</div>
