{% load static %}
{% load catalog_tags %}

<main class="policy-page">
    <div class="container">
    {% include 'includes/elements/breadcrumb.html' %}
    
    <h1>Политика конфиденциальности</h1>
    {% comment %} <div class="articles__wrapper services__wrapper">
        <div class="articles__item">
        <div class="articles__item-content">
            <div class="articles__item-title services__title">
            <p>1. Общие положения</p>
            </div>
            <div class="articles__item-descr services__descr">
            <h2>Подзаголовок</h2>
            <p>Lorem ipsum dolor sit amet consectetur. Ridiculus sed enim ut orci ac sagittis augue et odio. Fames
                at platea massa nunc lacus. Amet feugiat faucibus sit malesuada. Eu ut turpis ut pellentesque laoreet.
                Cras libero viverra odio fusce a. Molestie dictum egestas sed habitasse convallis.</p>
            <p>Lorem ipsum dolor sit amet consectetur. Ridiculus sed enim ut orci ac sagittis augue et odio. Fames
                at platea massa nunc lacus. Amet feugiat faucibus sit malesuada. Eu ut turpis ut pellentesque laoreet.
                Cras libero viverra odio fusce a. Molestie dictum egestas sed habitasse convallis.</p>
            <p>Lorem ipsum dolor sit amet consectetur. Ridiculus sed enim ut orci ac sagittis augue et odio. Fames
                at platea massa nunc lacus. Amet feugiat faucibus sit malesuada. Eu ut turpis ut pellentesque laoreet.
                Cras libero viverra odio fusce a. Molestie dictum egestas sed habitasse convallis.</p>
            </div>
        </div>
        <div class="articles__item-arrow services__arrow"><svg class="icon icon-arrow-right" viewBox="0 0 24 24"
            width="24" height="24">
            <path d="M5 12h14M12 5l7 7-7 7" fill="none" stroke="#228AED" stroke-width="2"> </path>
            </svg></div>
        </div>
        <div class="articles__item">
        <div class="articles__item-content">
            <div class="articles__item-title services__title">
            <p>2. Определение терминов</p>
            </div>
            <div class="articles__item-descr services__descr">
            <h2>Подзаголовок</h2>
            <p>Lorem ipsum dolor sit amet consectetur. Ridiculus sed enim ut orci ac sagittis augue et odio. Fames
                at platea massa nunc lacus. Amet feugiat faucibus sit malesuada. Eu ut turpis ut pellentesque laoreet.
                Cras libero viverra odio fusce a. Molestie dictum egestas sed habitasse convallis.</p>
            <h2>Подзаголовок</h2>
            <p>Lorem ipsum dolor sit amet consectetur. Ridiculus sed enim ut orci ac sagittis augue et odio. Fames
                at platea massa nunc lacus. Amet feugiat faucibus sit malesuada. Eu ut turpis ut pellentesque laoreet.
                Cras libero viverra odio fusce a. Molestie dictum egestas sed habitasse convallis.</p>
            <p>Lorem ipsum dolor sit amet consectetur. Ridiculus sed enim ut orci ac sagittis augue et odio. Fames
                at platea massa nunc lacus. Amet feugiat faucibus sit malesuada. Eu ut turpis ut pellentesque laoreet.
                Cras libero viverra odio fusce a. Molestie dictum egestas sed habitasse convallis.</p>
            </div>
        </div>
        <div class="articles__item-arrow services__arrow"><svg class="icon icon-arrow-right" viewBox="0 0 24 24"
            width="24" height="24">
            <path d="M5 12h14M12 5l7 7-7 7" fill="none" stroke="#228AED" stroke-width="2"> </path>
            </svg></div>
        </div>
        <div class="articles__item">
        <div class="articles__item-content">
            <div class="articles__item-title services__title">
            <p>3. Порядок и условия</p>
            </div>
            <div class="articles__item-descr services__descr">
            <p>Lorem ipsum dolor sit amet consectetur. Ridiculus sed enim ut orci ac sagittis augue et odio. Fames
                at platea massa nunc lacus. Amet feugiat faucibus sit malesuada. Eu ut turpis ut pellentesque laoreet.
                Cras libero viverra odio fusce a. Molestie dictum egestas sed habitasse convallis.</p>
            <p>Lorem ipsum dolor sit amet consectetur. Ridiculus sed enim ut orci ac sagittis augue et odio. Fames
                at platea massa nunc lacus. Amet feugiat faucibus sit malesuada. Eu ut turpis ut pellentesque laoreet.
                Cras libero viverra odio fusce a. Molestie dictum egestas sed habitasse convallis.</p>
            <p>Lorem ipsum dolor sit amet consectetur. Ridiculus sed enim ut orci ac sagittis augue et odio. Fames
                at platea massa nunc lacus. Amet feugiat faucibus sit malesuada. Eu ut turpis ut pellentesque laoreet.
                Cras libero viverra odio fusce a. Molestie dictum egestas sed habitasse convallis.</p>
            </div>
        </div>
        <div class="articles__item-arrow services__arrow"><svg class="icon icon-arrow-right" viewBox="0 0 24 24"
            width="24" height="24">
            <path d="M5 12h14M12 5l7 7-7 7" fill="none" stroke="#228AED" stroke-width="2"> </path>
            </svg></div>
        </div>
    </div> {% endcomment %}
    {{ current_menu.description|safe }}
    </div>
</main>