{% load static %}
<div class="container">
    <main class="notfound">
    <div class="notfound__top">
        <div class="notfound__top-text">404</div>
    </div>
    <div class="notfound__bottom">
        <div class="notfound__bottom-title">Страница не найдена</div>
        <div class="notfound__bottom-text">
        <p>К сожалению, страница, которую вы запросили, не найдена. </p>
        <p>Вы можете перейти на главную страницу или воспользоваться каталогом товаров</p>
        </div>
    </div>
    <div class="notfound__bottom-btns">
        <a href="/">На главную</a>
        <a href="/catalog/">В каталог </a>
    </div>
    </main>
</div>