{% load static %}
{% comment %} {% load nospaces %} {% endcomment %}

<!DOCTYPE html>
<html lang="ru">
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{% block title_page %}{% endblock %}</title>
        <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <meta name="format-detection" content="telephone=no">
        {% comment %} <meta property="og:title" content="{% nospaces %}{% block title_page_og %}{% endblock %}{% endnospaces %}"> {% endcomment %}
		<meta property="og:url" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ request.path_info }}">
        {% comment %} <meta property="og:description" content="{% nospaces %}{% block meta_description_og %}{% endblock %}{% endnospaces %}"> {% endcomment %}
		<meta property="og:image" content="{% static "img/favicon/favicon-96x96.png" %}">
		<meta property="og:type" content="website">
		<meta name="robots" content="noindex, nofollow">		
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
		<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css'%}">
        {% block page_styles %}{% endblock %}
        <link rel="icon" type="image/png" href="{% static "img/favicon/favicon-96x96.png" %}" sizes="96x96"/>
        <link rel="icon" type="image/svg+xml" href="{% static "img/favicon/favicon.svg" %}"/>
        <link rel="shortcut icon" href="{% static "img/favicon/favicon.ico" %}"/>
        <link rel="apple-touch-icon" sizes="180x180" href="{% static "img/favicon/apple-touch-icon.png" %}"/>
        <meta name="apple-mobile-web-app-title" content="novator"/>
        <link rel="manifest" href="{% static "img/favicon/site.webmanifest" %}"/>
        {% if current_filial.text_head_filial %}{{ current_filial.text_head_filial|safe }}{% endif %}
        {% if project_settings.text_head %}{{ project_settings.text_body|safe }}{% endif %}
    </head>
	<body>
        {% comment %} <div class="overlay"></div> {% endcomment %}
        {% comment %} <!-- header --> {% endcomment %}
        {% include 'includes/header/header.html' %}
        {% comment %} <!-- content --> {% endcomment %}
        <main class="layoutWrapper">
            <div class="mainContent">
                {% block content %}
                {% endblock %}
            </div>
        </main>        
        {% comment %} <!-- footer --> {% endcomment %}
        {% include 'includes/footer/footer.html' %}
        
        {% block modal %}
        {% endblock modal %}
        <script src="{% static 'js/main.js' %}" defer="defer"></script>
        <script src="{% static 'js/custom.js' %}" defer></script>
        {% block script %}
        {% endblock script %}
        {% if current_filial.text_body_filial %}{{ current_filial.text_body_filial|safe }}{% endif %}
        {% if project_settings.text_body %}{{ project_settings.text_body|safe }}{% endif %}
    </body>
</html>