{% load static %}

<section class="filters">
    <div class="filters__title">Фильтры</div>
    <div class="filters__wrapper">
        <div class="filters__box">
            <div class="filters__box-item" data-filter="size-1">
                <span>Размер</span>
                <div class="arrow"></div>
                <div class="filters__dropdown hidden">
                    <div class="search-box"><input type="text" placeholder="Поиск..." class="filter-search"></div>
                    <label><input type="checkbox" name="size" value="all">Все</label>
                    <label><input type="checkbox" name="size" value="1x1">1×1</label>
                    <label><input type="checkbox" name="size" value="2x2">2×2</label>
                </div>
            </div>
            <div class="filters__box-item" data-filter="size-2">
                <span>Размер</span>
                <div class="arrow"></div>
                <div class="filters__dropdown hidden">
                    <div class="search-box"><input type="text" placeholder="Поиск..." class="filter-search"></div>
                    <label><input type="checkbox" name="size" value="all">Все</label>
                    <label><input type="checkbox" name="size" value="1x1">1×1</label>
                    <label><input type="checkbox" name="size" value="2x2">2×2</label>
                </div>
            </div>
            <div class="filters__box-item" data-filter="size-3">
                <span>Размер</span>
                <div class="arrow"></div>
                <div class="filters__dropdown hidden">
                    <div class="search-box"><input type="text" placeholder="Поиск..." class="filter-search"></div>
                    <label><input type="checkbox" name="size" value="all">Все</label>
                    <label><input type="checkbox" name="size" value="1x1">1×1</label>
                    <label><input type="checkbox" name="size" value="2x2">2×2</label>
                </div>
            </div>
            <div class="filters__box-item" data-filter="size-4">
                <span>Размер</span>
                <div class="arrow"></div>
                <div class="filters__dropdown hidden">
                    <div class="search-box"><input type="text" placeholder="Поиск..." class="filter-search"></div>
                    <label><input type="checkbox" name="size" value="all">Все</label>
                    <label><input type="checkbox" name="size" value="1x1">1×1</label>
                    <label><input type="checkbox" name="size" value="2x2">2×2</label>
                </div>
            </div>
        </div>
        <div class="filters__buttons"> 
            <button>Применить</button>
            <a> 
                <span>Сбросить</span>
                <img src="{% static 'img/icons/del.svg' %}" alt="">
            </a>
        </div>
    </div>
</section>


    