{% extends 'base.html' %}
{% load static %}
{% load catalog_tags %}



{% block title_page %}
    {% if current_menu.title_main %}
	    {{ current_menu.title_main|my_safe:current_filial }}
    {% else %}
        {{ h1_title }}
    {% endif %}
{% endblock %}

{% block meta_keywords %}
    {% if current_menu.keywords %}
	    {{ current_menu.keywords|my_safe:current_filial }}
    {% else %}
        {{ h1_title }}
    {% endif %}
{% endblock %}

{% block meta_description %}
    {% if current_menu.keywords_description %}
	    {{ current_menu.keywords_description|my_safe:current_filial }}
    {% else %}
        {{ h1_title }}  В {{ current_filial.name_info }}
    {% endif %}
{% endblock %}

{% block title_page_og %}
    {% if current_menu.title_main %}
	    {{ current_menu.title_main|my_safe:current_filial }}
    {% else %}
        {{ h1_title }}
    {% endif %}
{% endblock %}

{% block meta_description_og %}
    {% if current_menu.keywords_description %}
	    {{ current_menu.keywords_description|my_safe:current_filial }}
    {% else %}
        {{ h1_title }}  В {{ current_filial.name_info }}
    {% endif %}
{% endblock %}



{% block page_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/category.css'%}">
{% endblock %}


{% block content %}
    {% include "pages/product-listing/p-product-listing.html" %}
{% endblock %}

{% comment %} {% block script %}
    <script src="{% static 'js/category.js' %}" defer></script>
{% endblock %} {% endcomment %}